{% extends 'layout.html'%} {% load static %}

{% block content  %}
<h1 class="text-center">Posts</h1>

{% for post in posts %}
<div class="p-3">
<div class="card card-body bg-black">
<div class="row">
    <div class="col-8">
        <img src="{{post.image.url}}" class="img-fluid" >
        <div>
            <h2>{{post.title}}</h2>
            <h3>{{post.date}}</h3>
            <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary">{{post.title}}</a>  
        </div>
    </div>
    
</div>

   
</div>
</div>
{% endfor %}

{% endblock  %}