
{% load static %}

<header class= "row bg-black">
    <div class="row my-4 text-center">
    <div class="col-md-4">
        <img src="{% static 'portfolio/tati.png' %}" alt=""/>
    </div>
        
    <div class="col-md-8 my-auto">
        <p> I am a proactive person, always Willing to help, with good interpersonal relationships, 
            organized and responsible. I am looking for a challenging position and dynamic to continue 
            adding experience and knowledge.</p>
    </div>
    <body>
        <div class="main">
            <h3 class="heading">My resume</h3>
            <h4 class="experienceabout"> Experience</h4>
    <div class="containerabout">
        <ul>
            <li>
                <h3 class="titleabout">Compensar</h3>
                <p>Business Advisor II</p>
                <span class="circle"></span>
                <span class="dateabout">2022</span>
            </li>
            <li>
                <h3 class="titleabout">Centro Social de Agentes y Patrulleros de la Policia Nacional</h3>
                <p>Administrative Assitant</p>
                <span class="circle"></span>
                <span class="dateabout">2022</span>
            </li>
            <li>
                <h3 class="titleabout">Centro Social de Agentes y Patrulleros de la Policia Nacional</h3>
                <p>Head Of Central Accounts</p>
                <span class="circle"></span>
                <span class="dateabout">2022 - 2022</span>
            </li>
            <li>
                <h3 class="titleabout">Centro Social de Agentes y Patrulleros de la Policia Nacional</h3>
                <p>Events Executive and Head Of Billing</p>
                <span class="circle"></span>
                <span class="dateabout">2018 -2020</span>
            </li>
        </ul>
    </div>
</div>

</body>
</html>




















</header>
