
{% load static %}
<div class="container aboutme">
    <img src="{% static 'portfolio/tati.png' %}" alt=""/>
    <div class="texttati">
      <h1>Tatiana Solórzano</h1>
      <br>
      <p class="fullstack-text">Full Stack Developer and Tourism</p>
      <p class="fullstack-text"> And Hospitality Management</p>
    </div>
    <br>
    <div class="description">
        <p>
            I am professional in the tourism and hotel industry, with a background in full-stack web development. I am known to be responsible, punctual, and a great team player. I like challenges and am always eager to learn something new.
            <br/><br/>
            I have training and experience in tourism and hotel administration, which gives me a deep understanding of the industry's various facets, including customer service, management, and marketing. I am adept at managing resources, coordinating schedules, and working under tight deadlines to deliver high-quality results.
            <br/><br/>
            Full-stack web development equips me with a unique set of skills that can help me innovate and streamline the operations of businesses in the tourism and hotel industry. My technical expertise in programming, database management, and web design allows me to create engaging, user-friendly websites and applications that enhance the customer experience.
            <br/><br/>
            I am a professional who brings a wealth of knowledge and skills to the table. My love for learning, positive attitude, and teamwork make me an asset to any team I am part of.
        </p>
    </div>
</div>
<section id="tato">
<section class"timeline">
<body>
        <div class="main">
            <h3 class="heading">My Resume</h3>
    
            <div class="container experience">
                <ul>
                    <li>
                        <h3 class="title">Compensar</h3>
                        <p>Business Advisor II</p>
                        <span class="circle"></span>
                        <span class="date">2022</span>
                    </li>
                    <li>
                        <h3 class="title">Centro Social de Agentes y Patrulleros de la Policia Nacional</h3>
                        <p>Administrative Assitant</p>
                        <span class="circle"></span>
                        <span class="date">2022</span>
                    </li>
                    <li>
                        <h3 class="title">Centro Social de Agentes y Patrulleros de la Policia Nacional</h3>
                        <p>Head Of Central Accounts</p>
                        <span class="circle"></span>
                        <span class="date">2020 - 2022</span>
                    </li>
                    <li>
                        <h3 class="title">Centro Social de Agentes y Patrulleros de la Policia Nacional</h3>
                        <p>Events Executive and Head Of Billing</p>
                        <span class="circle"></span>
                        <span class="date">2018 -2020</span>
                    </li>
                </ul>
            </div>
        </div>
    
    </body>
    </html>

<section class="skills">
    <h2>My Skills</h2>
    <div class="skill">
      <i class="fab fa-html5"></i>
      <h3>HTML5</h3>
    </div>
    <div class="skill">
      <i class="fab fa-css3"></i>
      <h3>CSS</h3>
    </div>
    <div class="skill">
      <i class="fab fa-js"></i>
      <h3>JavaScript</h3>
    </div>
    <div class="skill">
        <i class="fa-brands fa-python"></i>
        <h3>Python</h3>
    </div>
    <div class="skill">
        <i class="fa-brands fa-figma"></i>
        <h3>Figma</h3>
    </div>
</section> 
</section>



