{% load static %}

<section id ="contacto">
<section class="contact-area" id="contact">
  <div class="footer">
    <div class="contact-content text-center">
      <img class="img" src="{% static 'portfolio/logo.png' %}" alt="" />
      <p>When you are passionate about what you do, every day feels like freedom</p>
      <div class="hr"></div>
      <h6>Bogotá, Colombia</h6>
      <h6>319 260 0888 <span>|</span> tatianasolorzanoa@gmail.com</h6>
      <div class="contact-social">
        <ul>
          <li><a class="hover-target" href="https://www.facebook.com/tatiana.solorzano.146?mibextid=ZbWKwL/"><i class="fab fa-facebook-f"></i></a></li>
          <li><a class="hover-target" href= "https://www.linkedin.com/in/tatiana-solorzano-572b69235/"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a class="hover-target" href="https://github.com/tatianas8090/"><i class="fab fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer>
  <p>&copy; 2022 <img class="bandera" src="{% static 'portfolio/bandera.png' %}" alt="" /> All Rights Reserved.</p>
</footer>
</section>

