{% load static %}

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <img src="{% static 'portfolio/rectangle.png' %}" alt="" />
    <button
      class="navbar-toggler"
      type="button tyle="color: white"
      data-bs-toggle="collapse"
      data-bs-target="#opciones"
    >
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="opciones">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="" style="color: white">Home</a>
        </li>
        <li class="nav-item" style="margin-right: 25px">
          <a class="nav-link" href="/blog" style="color: white">Portfolio</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="/About Me" style="color: white">About Me</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="/About Me" style="color: white">Contact</a>
        </li>
      </ul>
      <div class="tati">
      <p class="tati">Tatiana Solórzano</p>
      </div>
      <div class="fullstack">
        <p class="fullstack-text">Full Stack Developer and Tourism</p>
        <p class="fullstack-text"> And Hospitality Management</p>
      </div>
      </div>
    </div>
  </div>
</nav>  

