{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
        <img src="{% static 'portfolio/rectangle.png' %}" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#opciones">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="opciones">
        <ul class="navbar-nav ms-auto">

            <li class="nav-item d-flex align-items-center">
                <a class="nav-link" href="/blog" style="color:white;">Home</a>
              </li>
          <li class="nav-item" style="margin-right:25px;">
            <a class="nav-link" href="/blog" style="color:white;">Portfolio</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link" href="/About Me" style="color:white;">About Me</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link" href="/About Me" style="color:white;">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>