{% load static %}

<nav class="navbar navbar-expand-lg">
  <div class="container nav">
    <img src="{% static 'portfolio/rectangle.png' %}" alt="" />
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#opciones"
  >
    <span class="navbar-toggler-icon text-white" style="filter: invert(1);"></span>
  </button>
    <div class="collapse navbar-collapse" id="opciones">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="/" style="color: white">Home</a>
        </li>
        <li class="nav-item" style="margin-right: 25px">
          <a class="nav-link" href="/blog" style="color: white">Blog</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="#contacto" style="color: white">Contact</a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</nav>  


